<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <p><a href="https://orcid.org/{{ site.author.orcid_id }}"><i class="ai ai-orcid fa-3x"></i><br>Orcid ID</a></p>
</div>
</div>

<div class="col-lg-4 text-center"></div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
	  <h1>2021</h1>
	  <ul style="list-style-type: none">
		<li class="entry">
			<a href="https://academic.oup.com/mnras/article-pdf/506/4/6001/42537130/stab2083.pdf"><h2><strong>Searching for the shadows of giants – II. The effect of local ionization on the Ly α absorption signatures of protoclusters at redshift z ∼ 2.4</strong></h2></a>
			<em>J. S. A. Miller</em>, J. S. Bolton, N. Hatch<br />
			Monthly Notices of the Royal Astronomical Society, 506(4), 6001-6013
		  </li>	
		</ul>			 
	  <h1>2019</h1>
	  <ul style="list-style-type: none">
		<li class="entry">
			<a href="https://academic.oup.com/mnras/article-pdf/489/4/5381/30062581/stz2504.pdf"><h2><strong>Searching for the shadows of giants: characterizing protoclusters with line of sight Lyman-α absorption</strong></h2></a>
			<em>J. S. A. Miller</em>, J. S. Bolton, N. Hatch<br />
			Monthly Notices of the Royal Astronomical Society, 489(4), 5381-5397
		  </li>	
		</ul>			 

  <h1>Thesis</h1>
  <ul style="list-style-type: none">
	<li class="entry">
	  <h2><strong>Searching for the Shadows of Giants: The Absorption Signatures of Protoclusters in the Lyman-alpha Forest</strong></h2>
	  <em>Joel Miller</em>
    <br>PhD at University of Nottingham, 2021
	</li>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>
</div>
